div#header-div

  div(id='header-1' class='flex-div')
    h1(onclick='window.location.href=`http://${location.host}`') gamazon
    div#search-box
      input(id='search-input' type='search' placeholder='Search using product name or ID, or get reviews using ID')
      button(onclick='search()') Search
    input(id='stock-checkbox' type='checkbox' onclick='search()')
    label(for='stock-checkbox' style='white-space: nowrap;') In Stock
  
  div(id='header-2' class='flex-div')
    button(onclick='getProductReviews()') Get Reviews
    button(onclick='window.location.href=`http://${location.host}/addproduct`') Add Product
    button(onclick='window.location.href=`http://${location.host}/addreview`') Add Review